@import url(./__menu/header__menu.css);
@import url(./__menu-link/header__menu-link.css);
@import url(./__button/header__button.css);

.header {
    display: flex;
    flex-direction: row;
    background: #FAFAFA;
    padding: 35px 80px;
    justify-content: space-between;
}