.header__button {
    width: 150px;
    height: 43.5px;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    text-align: center;
    color: #F7941E;
    border: 1px solid #F7941E;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    transition-duration: 0.7s;
}

.header__button:hover {
    color: #FFF;
    border: none;
    border-radius: 5px;
    background-color: #F7941E;
}