@import url(./_place_header.css/button_place_header.css);
@import url(./_place_offer/button_place_offer.css);

.button {
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 0;
}